/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex4/nbproject/private/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex4/build/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex5/nbproject/private/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex5/build/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex6/nbproject/private/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex6/build/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex7/nbproject/private/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex7/build/
/OCA 1 - Declarations and Access Control/My Solutions/JATEx8/nbproject/private/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex8/nbproject/private/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex8/build/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex9/nbproject/private/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex9/build/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex10/nbproject/private/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex10/build/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex11/nbproject/private/
/OCA 1 - Declarations and Access Control/My Solutions/JAT1Ex11/build/